*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#particles-js{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background-color: black;
}
#home{
    overflow: hidden;
}


ul{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;
    font-size: 20pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
  
}
ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
   
}
ul li{
    &:hover{
        transform: scale(1.2);
        text-shadow: 4px 4px 50px rgb(253, 0, 0);
    }
}
#apresentacao{
    color: white;
    position: absolute;
    top: 320px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 30pt;
    font-family: 'AR One Sans', sans-serif;
    height: 1px;
  
}

h4 , h3{
    color: red;
    text-shadow: 1px 1px 20px rgba(255, 0, 0, 0.458);
}
.line{
    border-right: 2px solid white;
    width: 1250px;
    margin-left: 350px;
    white-space: nowrap;
    overflow: hidden;          
}
.typing-animation{
    animation: blinkCursor 500ms infinite normal, typing 3s steps(40) normal;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 1250px;
    }
}

@keyframes blinkCursor {
    from{
        border-right-color: white;
    }
    to{
        border-right-color:transparent ;
    }
}

.btn{
    position: absolute;
    top: 570px;
    left: 780px;
    width: 400px;
   
    
}

button{
   
    width: 150px;
    height: 40px;
    margin-left: 15px;
    font-size: 20pt;
    border-radius: 20px;
    &:hover{
        text-shadow: 5px 5px 40px white;
        transform: scale(1.2);
    }
}
#boxs{
    display: flex;
    position: absolute;
}
.box{
   
    width: 400px;
    height: 450px;
    background-color: rgba(152, 37, 37, 0.789);
    backdrop-filter: blur(20);
    margin: 10px;
    margin-top: 200px;
    margin-left: 170px;
    border-radius: 20px;
    border: 5px solid rgba(42, 41, 41, 0.995);
    
    animation: go-back 1.5s normal;
    &:hover{
        transform: scale(1.1);
        box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.566);
    cursor: "'pointer'";
    }

}

.textBox{
    background-color: white;
    width: 390px;
    height: 40px;
    margin-top: 170px;
    margin-bottom: -70px;
    text-align: center;
    color: red;
    

}
@keyframes go-back{
    from{
        margin-top: -1000px;
    }
    to{
        margin-top: 200px;
    }
}
.box h5{
    font-size: 20pt;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

.btn-projeto{
    width: 400px;
    position: absolute;
    top: 800px;
    left: 740px;
}
.btn-projeto a{
    color: black;
    text-decoration: none;

}

.container{
    
    position: absolute;
    display: flex;
    justify-content: space-between;


}
.textoSobremim {
    color: white;
    width: 620px;
    margin-top: 200px;
    font-size: 18pt;
    margin-left: 140px;
    margin-right: 500px;
    font-family: 'AR One Sans', sans-serif;
    text-shadow: 1px 1px 20px red;
    animation: go-back-left 1s normal;

    
}
.myImg img{
    margin-top: 100px;
    border-radius: 50%;
    scale: 1.1;
    animation: go-back-right 1s normal;
}
@keyframes go-back-right{
    from{
        margin-left: 1000px;
    }
}
@keyframes go-back-left{
    from{
        margin-left: -1000px;
    }
}
.boxContainer{
    width: 4200px;
    height: 400px;
    background-color: rgb(243, 0, 0);
    margin-top: 800px;
    margin-left: -200px;
    position: absolute;
    transform: rotate(-5deg);
}
