@import url('https://fonts.cdnfonts.com/css/futura-pt');
.container{
    min-height: 100vh;
    min-width: 100%;
    background-color: rgb(248, 74, 74);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
}
header{
    background-color: rgba(210, 98, 98, 0.945);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    font-family: 'Futura PT', sans-serif;
    height: 90px;
    color: white;
    padding: 20px;
    background-attachment: fixed;

}
h1{
    font-size: 28pt;
}
                                                
nav{
    display: flex;
    list-style: none;
    margin-top: 10px;
    
    
   
}
a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 40px;
    font-size: 18pt;

   
}
li{
    &:hover{
        transform: scale(1.2);
        text-shadow: 1px 1px 20px rgb(255, 255, 255);
    }
}

.apresentacao{
    text-align: center;
    margin-top: 300px;
    font-family: 'Futura PT', sans-serif;
    color: rgb(65, 2, 2);
    font-size: 30pt;

}
.digitacao{
    width: 950px;
    margin-left: 450px;
    animation: cursor 500ms infinite normal , typing 3s steps(40) 1s;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
   
   
    
}
h2{
    color: white;
    text-shadow: 1px 1px 20px rgba(221, 213, 213, 0.698);
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 950px;
    }
}
@keyframes cursor{
    from{
        border-right-color:white;
    }
    to{
        border-right-color: transparent;
    }
}
h3{
    position: absolute;
    left: 600px;
    top: 340px;

}
h4{
    color:rgb(65, 2, 2);
}
.seta{
    width: 100px;
    height: 100px;
    margin-left: 900px;
    margin-top: 300px;
}

.section{
    background-color: white;
    height: 300px;
    margin-top: 500px;   
    background-attachment: fixed;
}
