*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: black;
}


ul{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;
    font-size: 20pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
  
}
ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
   
}
ul li{
    &:hover{
        transform: scale(1.2);
        text-shadow: 4px 4px 50px rgb(253, 0, 0);
    }
}
#apresentacao{
    color: white;
    position: absolute;
    top: 320px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 30pt;
    font-family: 'AR One Sans', sans-serif;
    height: 1px;
  
}

h4 , h3{
    color: red;
    text-shadow: 1px 1px 20px rgba(255, 0, 0, 0.458);
}
.line{
    border-right: 2px solid white;
    width: 1250px;
    margin-left: 350px;
    white-space: nowrap;
    overflow: hidden;          
}
.typing-animation{
    animation: blinkCursor 500ms infinite normal, typing 3s steps(40) normal;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 1250px;
    }
}

@keyframes blinkCursor {
    from{
        border-right-color: white;
    }
    to{
        border-right-color:transparent ;
    }
}

.btn{
    position: absolute;
    top: 570px;
    left: 780px;
    width: 400px;
   
    
}

button{
   
    width: 150px;
    height: 40px;
    margin-left: 15px;
    font-size: 20pt;
    border-radius: 20px;
    &:hover{
        text-shadow: 5px 5px 40px white;
        transform: scale(1.2);
    }
}

